# Environment Variable for dogfooding app
DOGFOODING_API_KEY=
DOGFOODING_COORDINATOR_RPC_URL=
DOGFOODING_COORDINATOR_WS_URL=

# Environment Variable for sample apps
SAMPLE_STREAM_VIDEO_API_KEY=
SAMPLE_STREAM_CHAT_API_KEY=
SAMPLE_COORDINATOR_RPC_URL=
SAMPLE_COORDINATOR_WS_URL=

SAMPLE_USER_00_ID=vasil
SAMPLE_USER_00_NAME=Willard Hessel
SAMPLE_USER_00_ROLE=admin
SAMPLE_USER_00_IMAGE=https://getstream.io/chat/docs/sdk/avatars/jpg/Willard%20Hessel.jpg
SAMPLE_USER_00_VIDEO_TOKEN=
SAMPLE_USER_00_CHAT_TOKEN=

SAMPLE_USER_01_ID=veselin
SAMPLE_USER_01_NAME=Blanche Schoen
SAMPLE_USER_01_ROLE=admin
SAMPLE_USER_01_IMAGE=https://getstream.io/chat/docs/sdk/avatars/jpg/Blanche%20Schoen.jpg
SAMPLE_USER_01_VIDEO_TOKEN=
SAMPLE_USER_01_CHAT_TOKEN=

SAMPLE_USER_02_ID=valia
SAMPLE_USER_02_NAME=Bernard Windler
SAMPLE_USER_02_ROLE=admin
SAMPLE_USER_02_IMAGE=https://getstream.io/chat/docs/sdk/avatars/jpg/Bernard%20Windler.jpg
SAMPLE_USER_02_VIDEO_TOKEN=
SAMPLE_USER_02_CHAT_TOKEN=

SAMPLE_USER_03_ID=damjan
SAMPLE_USER_03_NAME=Tyrone Bailey
SAMPLE_USER_03_ROLE=admin
SAMPLE_USER_03_IMAGE=https://getstream.io/chat/docs/sdk/avatars/jpg/Tyrone%20Bailey.jpg
SAMPLE_USER_03_VIDEO_TOKEN=
SAMPLE_USER_03_CHAT_TOKEN=

SAMPLE_USER_04_ID=jordan
SAMPLE_USER_04_NAME=Claudia Bradtke
SAMPLE_USER_04_ROLE=admin
SAMPLE_USER_04_IMAGE=https://getstream.io/chat/docs/sdk/avatars/jpg/Claudia%20Bradtke.jpg
SAMPLE_USER_04_VIDEO_TOKEN=
SAMPLE_USER_04_CHAT_TOKEN=

SAMPLE_USER_05_ID=ina
SAMPLE_USER_05_NAME=Byron Waelchi
SAMPLE_USER_05_ROLE=admin
SAMPLE_USER_05_IMAGE=https://getstream.io/chat/docs/sdk/avatars/jpg/Byron%20Waelchi.jpg
SAMPLE_USER_05_VIDEO_TOKEN=
SAMPLE_USER_05_CHAT_TOKEN=
