<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DogfoodingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Streamvideoandroid">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Streamvideoandroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HomeActivity" />

        <activity android:name=".CallActivity" />

        <activity
            android:name=".DeeplinkingActivity"
            android:exported="true">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/filter_call_link">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="stream-calls-dogfood.vercel.app"
                    android:pathPrefix="/join/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>