name: Android CI

on:
  push:
    branches:
      - develop
      - main

  pull_request:
    branches:
      - '**'

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  base-android-ci:
    uses: GetStream/stream-build-conventions-android/.github/workflows/android-ci.yml@v0.6.1
    secrets: inherit
