name: App Distribute CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_dogfooding_sample_app:
    name: Build and Distribute Dogfooding Android
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: GetStream/android-ci-actions/actions/setup-java@main
      - name: Prepare environment
        run: |
          echo "${{ secrets.RELEASE_KEYSTORE }}" > .sign/release.keystore.asc
          gpg -d --passphrase "${{ secrets.PASSPHRASE }}" --batch .sign/release.keystore.asc > .sign/release.keystore
          echo "${{ secrets.RELEASE_KEYSTORE_PROPERTIES }}" > .sign/keystore.properties.asc
          gpg -d --passphrase "${{ secrets.PASSPHRASE }}" --batch .sign/keystore.properties.asc > .sign/keystore.properties
          echo "${{ secrets.ENV_PROPERTIES }}" > .env.properties
      - name: Assemble
        run: bash ./gradlew :demo-app:assembleRelease --stacktrace
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: demo-app-release
          path: demo-app/build/outputs/apk/demo-app/release/
      - name: Upload artifact to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1.7.1
        with:
          appId: ${{secrets.FIREBASE_DOGFOODING_SAMPLE_APP_ID}}
          serviceCredentialsFileContent: ${{ secrets.CREDENTIAL_FILE_CONTENT }}
          groups: stream-testers
          file: demo-app/build/outputs/apk/development/release/demo-app-development-release.apk
